input{
    width: 500px;
    height: 50px;
    background-color: white;
    border: none;
    padding-left: 15px;
    margin-top: 15px;
}

select{
    
    width: 512px;
    height: 30px;
    background-color: white;
    border: none;
    padding-left: 15px;
    margin-top: 15px;
}

#btn{
    border-radius: 20px;
    border: none;
    margin-left: 50px;
    margin-top: 15px;
    width: 200px;
    height: 30px;
    background-color: white;
    cursor: pointer;
}

#btn:hover
{
    background-color: rgb(143, 224, 143);
}